APP_JWT_SECRET_KEY=
SEPAY_CLIENT_ID=
SEPAY_WEBHOOK_SECRET=
SEPAY_BANK_ACCOUNT=
SEPAY_BANK_NAME=
EMAIL_USERNAME=
EMAIL_PASSWORD=
APP_OAUTH2_GOOGLE_CLIENT_ID=
APP_OAUTH2_FACEBOOK_APP_ID=
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
GEMINI_API_KEY=