spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/mindgard
    username: mindgard
    password: mindgard
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    open-in-view: false

server:
  port: 8080
